section {
  display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin: 5px;
}

table {
    width: 100%;
    margin: 25px;  
    text-align: center; 
    
}
table, th, td {
    border: 3px solid #0d90c3;
    border-collapse: collapse;
    padding: 7px;  
    margin-bottom: 5px;
  }

  tr:nth-child(even) {
    background-color: #D6EEEE;
    color: #0d90c3;
  }
  .btn {
    background-color: white;
    color:  #0d90c3;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 7px;
    width: 250px; 
}
.btn:hover {
    background-color:  #0d90c3;
    color: white;
    border-radius: 5px;
  }