section {
  display: flex;
	flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x:auto;
}
table {
    margin: 25px;  
    text-align: center; 
    
}
table, th, td {
    border: 3px solid #0d90c3;
    border-collapse: collapse;
    padding: 7px;  
  }
tr:nth-child(even) {
    background-color: #D6EEEE;
    color: #0d90c3;
  }

.aside {
    background-color: white;
    border: none;
    border-bottom: solid;
}

.btn {
    background-color: white;
    color:  #0d90c3;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 7px;
}
.btn:hover {
    background-color:  #0d90c3;
    color: white;
    border-radius: 5px;
  }
 