<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="Styles\intro.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class = 'container'>
            <header>
                    <p><i>Welcome to</i> ToDoApp</p> <!-- delete 'Welcome to' in other pages -->
            </header>
            <nav class="menu">
                    <a href="../TodoApp/create.html">Create</a> 
                    <a href="../TodoApp/findOne.html">Find one</a>
                    <a href="../TodoApp/showAll.html">Show all</a>  
            </nav>
            <main>
                <section>

                        <p> Descripció </p>
                        <p>
                            Creeu una aplicació que permeti portar un llistat de tasques per fer. 
                            Ha de contemplar l'opció d'afegir tasques, llistar-les i mostrar el seu estat (pendents, en execució o acabades), 
                            i l'hora d'inici i fi de la tasca, així com l'usuari que la va donar d'alta.
                        </p>
                        <p>
                            La aplicació ha de complir els següents casos d'ús: 
                            crear tasca, actualitzar tasca, esborrar tasca, llistar totes les tasques 
                            o llistar una tasca específica.
                        </p>
                        <p>
                            Heu d'utilitzar un repositori github seguint la seqüència gitflow.
                        </p>

                </section>
            </main>
            <footer>
                <p>
                    &#169; 2022 ToDoApp, Developers Team.
                </p>
    
            </footer>
        </div>
    </body>
    
</html>

