<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="Styles\intro.css">
        <link rel="stylesheet" href="Styles\showAll.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class = 'container'>
            <header>
                    <p>ToDoApp</p> 
            </header>
            <nav class="menu">
                    <a href="../TodoApp/create.html">Create</a> 
                    <a href="../TodoApp/findOne.html">Find one</a>
                    <a href="../TodoApp/showAll.html">Show all</a>  
            </nav>
            <main class="tabs">
                <section class="tab" id="showAll">
                    <table> 
                        <tr>
                            <th>Name</th>
                            <th style="width:55%">Description</th>
                            <th>Start</th>
                            <th>Status</th>
                            <th>Finish</th>
                            <th>Refesh</th>
                            <th>Delete</th>
                        </tr>
                        <tr>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td class="aside">
                                <button class="btn"><i class="fa fa-refresh"></i></button>
                            </td>
                            <td class="aside">
                                <button class="btn"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>                        
                        <tr>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td class="aside">
                                <button class="btn"><i class="fa fa-refresh"></i></button>
                            </td>
                            <td class="aside">
                                <button class="btn"><i class="fa fa-trash"></i></button>
                            </td>                            
                        </tr>
                        <tr>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td>Some inf</td>
                            <td class="aside">
                                <button class="btn"><i class="fa fa-refresh"></i></button>
                            </td>
                            <td class="aside">
                                <button class="btn"><i class="fa fa-trash"></i></button>
                            </td>                            
                        </tr>
                    </table>                   
                </section> 
            </main>
            <footer>
                <p>
                    &#169; 2022 ToDoApp, Developers Team.
                </p>    
            </footer>
        </div>
    </body>
    
</html>

